{# note that this file isn't a template; it's just processed and output. #}
{% extends "page_template.jinja" %}

{% block title %}Processing.py{% endblock %}

{% block content %}
<h1>Processing.py Examples.</h1>
<p>Coming soon! In the meantime, consult the examples that are included in the Python Mode download for Processing (File &gt; Examples...)</p>
{% endblock %}
