{# note that this file isn't a template; it's just processed and output. #}
{% extends "page_template.jinja" %}

{% block title %}Processing.py{% endblock %}

{% block nav %}
<div id="navigation">
    <div class="navBar" id="mainnav">
        <a href="/">Cover</a><br/>
        <a href="/reference/">Reference</a><br/>
        <a href="/tutorials/">Tutorials</a><br/>
        <a href="/examples/" class="active">Examples</a><br/>
        <a href="https://github.com/jdf/Processing.py-Bugs/issues"
          class="bug">Bugs</a>
    </div>
</div> 
{% endblock %}

{% block content %}
<h1>Processing.py Examples.</h1>
<p>Coming soon! In the meantime, consult the examples that are included in the Python Mode download for Processing (File &gt; Examples...)</p>
{% endblock %}
