{# note that this file isn't a template; it's just processed and output. #}
{% extends "page_template.jinja" %}

{% block title %}Python Mode for Processing{% endblock %}

{% block nav %}
<div id="navigation">
    <div class="navBar" id="mainnav">
        <a href="/" class="active">Cover</a><br/>
        <a href="/reference/">Reference</a><br/>
        <a href="/tutorials/">Tutorials</a><br/>
        <a href="/examples/">Examples</a><br/>
        <a href="https://github.com/jdf/Processing.py-Bugs/issues"
          class="bug">Bugs</a>
    </div>
</div> 
{% endblock %}

{% block content %}
<h1>Python Mode for Processing</h1>
<p>You write Processing code. In Python.</p>

<div class="butterbar">
	Python Mode for Processing 3 is out! Download it through the contributions
	manager, and try it out.
</div>

<p>Processing is a programming language, development environment, and online community. Since 2001, 
Processing has promoted software literacy within the visual arts and visual literacy within technology. 
Today, there are tens of thousands of students, artists, designers, researchers, and hobbyists who use 
Processing for learning, prototyping, and production.</p>

<p>Processing was initially released with a Java-based syntax, and with a lexicon of graphical primitives 
that took inspiration from OpenGL, Postscript, Design by Numbers, and other sources. With the gradual 
addition of alternative progamming interfaces — including <a href="http://p5js.org" target="_blank">JavaScript</a>, 
<a href="http://py.processing.org">Python</a>, and <a href="https://github.com/jashkenas/ruby-processing" 
target="_blank">Ruby</a> — it has become increasingly clear that Processing is not a single language, but 
rather, an arts-oriented <em>approach</em> to learning, teaching, and making things with code.</p> 

<p>We are thrilled to make available this public release of the Python Mode for Processing, and its 
associated documentation. More is on the way! If you'd like to help us improve the 
<a href="https://github.com/jdf/processing.py" target="_blank">implementation of Python Mode</a> 
and <a href="https://github.com/kazimuth/processing-py-site" target="_blank">its documentation</a>, 
please find us on Github!</p>
	
<h4>Credits</h4>

<p>Python Mode for Processing was chiefly developed by <a href="http://mrfeinberg.com/" target="_blank">Jonathan Feinberg</a>, 
with contributions from James Gilles and Ben Alkov. The Python Mode examples, reference, and tutorials were 
ported and/or created by James Gilles, Allison Parrish, and Miles Peyton. Casey Reas, Ben Fry, Daniel Shiffman, 
and Golan Levin provided guidance and encouragement.</p>

<p>Support for the development of Processing.py came from many sources. Jonathan Feinberg implemented 
Processing.py independently from July 2010 through April 2014; since then, <a href="http://www.google.com/" 
target="_blank">Google</a> has kindly supported his efforts. In summer 2014, work on the Reference, Examples 
and Tutorials was funded in part by the Integrative Design, Arts, and Technology 
(<a href="http://www.cmu.edu/ideate/" target="_blank">IDeATe</a>) initiative at Carnegie Mellon University, 
and by a grant from the <a href="http://arts.gov/" target="_blank">National Endowment for the Arts</a> 
managed by the <a href="http://studioforcreativeinquiry.org/" target="_blank">Frank-Ratchye STUDIO for 
Creative Inquiry</a> at CMU. The <a href="https://processing.org/foundation/" target="_blank">Processing 
Foundation</a> and <a href="http://fathom.info/" target="_blank">Fathom</a> have also provided critical 
logistical support for this work.</p> 

<p>Much of the work in achieving compatibility with Processing 3.x was
was done by
<a href="http://www.luca-damasco.com/">Luca Damasco</a>
(<a href="https://developers.google.com/open-source/gsoc/">Google Summer of Code</a> student),
under the supervision of <a href="http://www.flong.com/">Golan Levin</a>,
with additional support from the 
<a href="http://studioforcreativeinquiry.org/">Frank-Ratchye STUDIO for Creative Inquiry</a>
at <a href="http://www.cmu.edu/">Carnegie Mellon University</a>.
Without Luca, the project may well have died.</p>

{% endblock %}
