<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Author" content="Casey Reas &amp; Ben Fry with Python Mode text by Miles Peyton, Allison Parrish, James Gilles, and Jonathan Feinberg" />
        <meta name="Publisher" content="Processing" />
        <meta name="Keywords" content="Processing, Processing, Interactive Media, Electronic Arts, Programming, Java, Ben Fry, Casey Reas, Python" />
        <meta name="Description" content="Python Mode for Processing extends the Processing Development Environment with the Python programming language." />
        <meta name="Copyright" content="All contents copyright Ben Fry, Casey Reas,  MIT Media Laboratory, Miles Peyton, Allsion Parrish, James Gilles, Jonathan Feinberg, Golan Levin" />
        <script src="/javascript/modernizr-2.6.2.touch.js" type="text/javascript"></script>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body id="Langauge-en" onload="" >
        <div id="container">
            {% block ribbon %}
            <div id="ribbon">
				<ul class="left">
					<li><a href="http://processing.org/">Processing</a></li>
					<li><a href="http://p5js.org/">p5.js</a></li>
					<li class="highlight"><a href="http://py.processing.org/">Processing.py</a></li>
					<li><a href="http://android.processing.org/">Processing for Android</a></li>
					<li><a href="http://pi.processing.org/">Processing for Pi</a></li>
				</ul>
				<ul class="right">
					<li><a href="https://processingfoundation.org/">Processing Foundation</a></li>
				</ul>
				<div class="clear"></div>
			</div>
            {% endblock %}

            {% block header %}
            <div id="header">
                <!-- put a menu here? https://github.com/jdf/processing-py-site/issues/169 -->
                <a href="/" title="Back to Python Mode" class="processing-logo no-cover"></a>
            </div>
            <a id="TOP" name="TOP"></a>
            {% endblock %}


            <div id="navigation">
                <div class="navBar" id="mainnav">
                    <a href="/">Cover</a><br/>
                    <a href="/reference/">Reference</a><br/>
                    <a href="/tutorials/">Tutorials</a><br/>
                    <a href="/examples/">Examples</a><br/>
                    <a href="https://github.com/jdf/Processing.py-Bugs/issues">Bugs</a>
                </div>
            </div>


            <div class="content">

                {% block content %}
                {% endblock %}

                <!-- Creative Commons License -->
                <div class="license">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border: none" src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
                    <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a></p>
                </div>

            </div>

            <div id="footer">
                <div id="copyright">Processing is an open project intiated by <a href="http://benfry.com/">Ben Fry</a> and <a href="http://reas.com">Casey Reas</a>. It is developed by a <a href="http://processing.org/about/people/">small team of volunteers</a>.</div>
                <div id="colophon">
                    <a href="/copyright.html">© Info</a>
                    <span>Site hosted by <a href="http://www.mediatemple.net">Media Temple</a>.</span>
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/javascript/jquery-1.9.1.min.js"><\/script>');</script>
        <script src="/javascript/site.js" type="text/javascript"></script>
    </body>
</html>
