{% extends "page_template.jinja" %}

{% block title %}{{ item.name }} \ Language (API){% endblock %}

{% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="ref-item">
    <tr class="name-row">
        <th scope="row">Name</th>
        <td><h3>{{ item.name }}</h3></td>
    </tr>

    {% if item.examples %}
        <tr class=""><th scope="row">Examples</th><td>
        {% for example in item.examples %}
            <div class="example">
                {%- if example.image %} {# weird spacing here to avoid creating spaces in <pre> #}
                <img src="{{example.image}}"/>
                <pre class='margin'>{%- else %}
                <pre>{%- endif %}{{ example.code|e }}</pre>
            </div>
            {% if example.broken %}
                {# This will get their attention #}
                <h2 style="color:red;">THIS EXAMPLE IS BROKEN</h2>
            {% endif %}
        {% endfor %}
        </tr>
    {% endif %}

    <tr class="refchunk">
        <th scope="row">Description</th>
        <td>
            {{ convert_hypertext(item.description) }}
        </td>
    </tr>

    {% if item.syntax is not none %} {# To keep lxml from yelling at us about unstable APIs #}
        <tr class="refchunk"><th scope="row">Syntax</th><td><pre>{{ convert_hypertext(item.syntax) }}</pre></td></tr>
    {% endif %}

    {% if item.parameters %}
        <tr class="refchunk"><th scope="row">Parameters</th><td><table cellpadding="0" cellspacing="0" border="0">                
        {% for param in item.parameters %}
            <tr class=""><th scope="row" class="code">{{ param.label }}</th><td>{{ convert_hypertext(param.description) }}</td></tr>
        {% endfor %}
        </table></tr>
    {% endif %}

    {% if item.returns %}
    <tr class="refchunk"><th scope="row">Returns</th><td class="code">{{ item.returns }}</td></tr>
    {% endif %}

    {% if item.constructors %}
        <tr class="refchunk"><th scope="row">Constructors</th><td class="code">
            {% for constructor in item.constructors %}
                {{ constructor }} <br />
            {% endfor %}
        </td></tr>
    {% endif %}

    {% if item.methods %}
        <tr class="refchunk"><th scope="row">Methods</th><td><table cellpadding="0" cellspacing="0" border="0">
        {% for method in item.methods %}
        <tr><th scope="row" class="code"><a href="{{ method.ref }}">{{ method.label }}</a></th><td>{{ convert_hypertext(method.description) }}</td></tr>
        {% endfor %}
        </table></tr>
    {% endif %}

    {% if item.relateds %}
    <tr class="refchunk"><th scope="row">Related</th><td class="code">
        {% for related in item.relateds %}
            <a class="code" href="{{ create_ref_link(related) }}">{{ items_dict[related].name }}</a><br />
        {% endfor %}
    {% endif %}
</table>

<p>Updated on {{ today }}.</p>
<p>If you see any errors or have comments, please <a href="https://github.com/jdf/processing-py-site/issues?state=open">let us know.</a></p>
{% endblock %}
