{% extends "page_template.jinja" %}

{% block title %}{{ item.name }} \ Language (API){% endblock %}

{% block nav %}
<div id="navigation">
    <div class="navBar" id="mainnav">
        <a href="/">Cover</a><br/>
        <a href="/reference/" class="active">Reference</a><br/>
        <a href="/tutorials/">Tutorials</a><br/>
        <a href="/examples/">Examples</a><br/>
        <a href="/overview/">Overview</a><br/>
    </div>
</div>
{% endblock %}

{% block content %}
<table cellpadding="0" cellspacing="0" border="0" class="ref-item">
    <tr class="name-row">
        <th scope="row">Name</th>
        <td><h3>{{ item.name }}</h3></td>
    </tr>

    {% if item.examples %}
        <tr class=""><th scope="row">Examples</th><td>
        {% for example in item.examples %}
            <div class="example">
            {% if example.image %}
                <img />
            {% endif %}
            <pre class='margin'>
                {{ example.code }}
            </div></pre>
        {% endfor %}
        </tr>
    {% endif %}

    <tr class="">
        <th scope="row">Description</th>
        <td>
            {{ convert_hypertext(item.description) }}
        </td>
    </tr>

    {% if item.syntax %}
        <tr class=""><th scope="row">Syntax</th><td><pre>{{ convert_hypertext(item.syntax) }}</pre></td></tr>
    {% endif %}

    {% if item.parameters %}
        <tr class=""><th scope="row">Parameters</th><td><table cellpadding="0" cellspacing="0" border="0">                
        {% for param in item.parameters %}
            <tr class=""><th scope="row" class="code">{{ param.label }}</th><td>{{ convert_hypertext(param.description) }}</td></tr>
        {% endfor %}
        </table></tr>
    {% endif %}

    {% if item.returns %}
    <tr class=""><th scope="row">Returns</th><td class="code">{{ item.returns }}</td></tr>
    {% endif %}

    {% if item.constructors %}
        <tr><th scope="row">Constructors</th><td class="code">
            {% for constructor in item.constructors %}
                {{ constructor }} <br />
            {% endfor %}
        </td></tr>
    {% endif %}

    {% if item.methods %}
        <tr><th scope="row">Methods</th><td><table cellpadding="0" cellspacing="0" border="0">
        {% for method in item.methods %}
        <tr><th scope="row" class="code"><a href="{{ method.ref }}">{{ method.label }}</a></th><td>{{ convert_hypertext(method.description) }}</td></tr>
        {% endfor %}
        </table></tr>
    {% endif %}

    {% if item.relateds %}{# Who needs grammar? #}
    <tr><th scope="row">Related</th><td class="code">
        {% for related in item.relateds %}
            <a class="code" href="{{ create_link(related) }}">{{ items_dict[related].name }}</a><br />
        {% endfor %}
    {% endif %}
</table>

Updated on {{ today }}.
{% endblock %}
