{% extends "page_template.jinja" %}

{% block title %}Tutorials{% endblock %}

{% block content %}
<h1 class="large-header"><span class="black">Processing.py Tutorials.</span> A collection of step-by-step lessons introducing Processing (with Python).</h1>
<table width="679" cellspacing="1" cellpadding="0" border="0">
    <tbody>
        {% for tutorial_batch in tutorials %}
            <tr>
                {% for tutorial in tutorial_batch %}
                    <td><div class="curated-item">
                        <a href="{{ tutorial.url }}">
                            <img src="{{ tutorial.image }}" width="223" height="72" alt="Preview image" title="{{tutorial.title}}">
                        </a>
                        <p>
                            <br />
                            <a href="{{ tutorial.url }}">{{ tutorial.title }}</a>
                            <br />
                            by {{ tutorial.author }}
                        </p>
                        {{ convert_hypertext(tutorial.blurb) }}
                    </div></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
